@keyframes loading-icon-animation {
  0% {
    transform: rotate(0deg) translate(75px);
  }
  100% {
    transform: rotate(359deg) translate(75px);
  }
}

#loading-state {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: $loading-z-index;
  background: #f6f6f6;
  transition: 0.3s;

  .loading-icon {
    font-size: 36px;
    transform-origin: center;
    animation: 2s loading-icon-animation linear infinite;
    //color: #2d97fe;
    .fa {
      transform: rotate(135deg);
    }
  }
  &.hide {
    pointer-events: none;
    opacity: 0;
  }
}